<!DOCTYPE html>
<html>
<head>
    <title>Mens Fwear</title>
    <meta charset="UTF-8">
    <meta http-equlv="width-device-width initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <marquee width="100%" direction="right" height="70px" class="top">
        WELCOME TO THE SHOP FOR YOU
    </marquee>

     
               
    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/SmallAppliances-22/Jupiter-22-SA/SA-Phase3/pc_2.gif"alt="">
    <div class="container" id ="product-cards">
        <h1 class="text-center">Fashionista for MEN</h1>
        <div class="row" style="margin-top:30px;">
            
            
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="https://joybird.com/i/joybird6.imgix.net/product_hero/9910/Bree-sofa_3.2A_Final_2.jpg?auto=format%2Ccompress&fit=crop&crop=entropy&rect=1035%2C0%2C3333%2C3333&ixlib=react-9.5.1-beta.1" alt="">
                    <div class="card-body">
                        <h3 class="text-center">Formal Shirt</h3>
                        <p class="text-center">High Quality clothes from Cool Colors</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>


                        </div>
                        <h2>1460<spam><li class="fa-solid fa-cart-shopping"></li></spam></h2>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="https://media1.popsugar-assets.com/files/thumbor/MfiK1jpXUMWj5S7w5BJBu4jqPyQ/fit-in/728xorig/filters:format_auto-!!-:strip_icc-!!-/2022/04/06/822/n/1922794/d2fda9d06fc67ace_netimgvdG3x0/i/best-dining-tables-with-chairs.jpg" alt="">
                    <div class="card-body">
                        <h3 class="text-center">Jeans Shirt</h3>
                        <p class="text-center">A quality product from Lee Cooper</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>


                        </div>
                        <h2>620<spam><li class="fa-solid fa-cart-shopping"></li></spam></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="https://ik.imagekit.io/durian1985/Durian/durian/product/800x800/product_2022100616101665072639_47811.jpg?tr=w-420,q-100,pr-true,f-auto,cm-pad_resize,bg-FFFFFF" alt="">
                    <div class="card-body">
                        <h3 class="text-center">Casual Shirt</h3>
                        <p class="text-center">Gives you a casual appearence to flaunt with style with USPA</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>


                        </div>
                        <h2>840<spam><li class="fa-solid fa-cart-shopping"></li></spam></h2>
                    </div>
                </div> 
            </div>
                <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="https://ik.imagekit.io/durian1985/Durian/durian/product/800x800/product_2022100613061665061610_98431.jpg?tr=w-446,pr-true,f-auto,cm-pad_resize,bg-FFFFFF" alt="">
                    <div class="card-body">
                        <h3 class="text-center">Blue Jeans/h3>
                        <p class="text-center">Aproduct from Pepe Jeans</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>


                        </div>
                        <h2>1100<spam><li class="   fa-solid fa-cart-shopping"></li></spam></h2>
                    </div>
                </div>
             </div> 

           
                <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="https://ik.imagekit.io/durian1985/Durian/durian/product/800x800/product_2022100615231665069839_72903.jpg?tr=w-446,pr-true,f-auto,cm-pad_resize,bg-FFFFFF" alt="">
                    <div class="card-body">
                        <h3 class="text-center">Torn Jeans</h3>
                        <p class="text-center">Mufti makes you look young</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>


                        </div>
                        <h2>430<spam><li class="fa-solid fa-cart-shopping"></li></spam></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="https://ik.imagekit.io/durian1985/Durian/durian/product/800x800/product_2022100616011665072072_14012.jpg?tr=w-446,pr-true,f-auto,cm-pad_resize,bg-FFFFFF" alt="">
                    <div class="card-body">
                        <h3 class="text-center">>Black Jeans</h3>
                        <p class="text-center">Black jeans from spykar goes good with any shirt</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>


                        </div>
                        <h2>960<spam><li class="fa-solid fa-cart-shopping"></li></spam></h2>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="http://sc04.alicdn.com/kf/H2f495b86946d47f88614bc486bf521fb5.png" alt="">
                    <div class="card-body">
                        <h3 class="text-center">Formal Pant</h3>
                        <p class="text-center">Look professional with Allen Solly</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>


                        </div>
                        <h2>1670<spam><li class="fa-solid fa-cart-shopping"></li></spam></h2>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/0258/3638/8445/products/DekorCompany3131.jpg?v=1624959606" alt="">
                    <div class="card-body">
                        <h3 class="text-center">Leather Belt</h3>
                        <p class="text-center">Your everyday partner from Woodland</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>


                        </div>
                        <h2>320<spam><li class="fa-solid fa-cart-shopping"></li></spam></h2>
                    </div>
                </div>
            </div>
            
               

            <div class="col-md-3 py-3 py-md-0">
                    <div class="card">
                        <img src="https://i.pinimg.com/736x/13/c2/81/13c281249ad83b07b65634e38ab3c0e7.jpg" alt="">
                        <div class="card-body">
                            <h3 class="text-center">T-Shirt</h3>
                            <p class="text-center">A chance to look stylish with Seven</p>
                            <div class="star text-center">
                                <i class="fa-solid fa-star checked"></i>
                                <i class="fa-solid fa-star checked"></i>
                                <i class="fa-solid fa-star checked"></i>
                                <i class="fa-solid fa-star checked"></i>
                                <i class="fa-solid fa-star checked"></i>
    
                            </div>
                            <h2>450<spam><li class="fa-solid fa-cart-shopping"></li></spam></h2>
                        </div>
                    </div>
                </div>     
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="https://sc02.alicdn.com/kf/H41ab70c8fcac4555994570107c1320983/231824501/H41ab70c8fcac4555994570107c1320983.jpg_.webp" alt="">
                    <div class="card-body">
                        <h3 class="text-center">Sweatshirt</h3>
                        <p class="text-center">Ruling in style with Flying Machine</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>


                        </div>
                        <h2>800<spam><li class="fa-solid fa-cart-shopping"></li></spam></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/1306/4195/products/1_F_cfdd2aaf-b320-4c22-92d7-0e69b7639ecc_1024x1024.jpg?v=1658326472" alt="">
                    <div class="card-body">
                        <h3 class="text-center">Hoodie</h3>
                        <p class="text-center">Levis - Give yourself a new look</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>


                        </div>
                        <h2>800<spam><li class="fa-solid fa-cart-shopping"></li></spam></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/1306/4195/products/Pic-1_1024x1024.jpg?v=1663739410" alt="">
                    <div class="card-body">
                        <h3 class="text-center">Track Pants</h3>
                        <p class="text-center">UCB - Worth wearing</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>


                        </div>
                        <h2>780<spam><li class="fa-solid fa-cart-shopping"></li></spam></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/1306/4195/products/1_4809bb96-ede2-42f4-9cbf-635c3c750c2f_1024x1024.jpg?v=1657868028" alt="">
                    <div class="card-body">
                        <h3 class="text-center">Shorts</h3>
                        <p class="text-center">Comfortable all day by HRX</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>


                        </div>
                        <h2>650<spam><li class="fa-solid fa-cart-shopping"></li></spam></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="https://www.gdmfurniture.com/Uploads/604f238d238df7729.jpg" alt="">
                    <div class="card-body">
                        <h3 class="text-center">Boxers</h3>
                        <p class="text-center">Nike - Nice as always</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>


                        </div>
                        <h2>390<spam><li class="fa-solid fa-cart-shopping"></li></spam></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="https://www.gdmfurniture.com/Uploads/6048661d6e3286176.jpg" alt="">
                    <div class="card-body">
                        <h3 class="text-center">Under-Garments pack</h3>
                        <p class="text-center">Dixcy Scott - Comfortable and clean</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>


                        </div>
                        <h2>1000<spam><li class="fa-solid fa-cart-shopping"></li></spam></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="https://www.gdmfurniture.com/Uploads/6059992dc811b7037.jpg" alt="">
                    <div class="card-body">
                        <h3 class="text-center">Vest</h3>
                        <p class="text-center">Premium cotton by Puma</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>


                        </div>
                        <h2>500<spam><li class="fa-solid fa-cart-shopping"></li></spam></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="https://i5.walmartimages.com/asr/3d59d97e-c4ff-4853-a101-9a411fa0fcb4.214e5183547290e02fec41b7f1cfeb0f.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="">
                    <div class="card-body">
                        <h3 class="text-center">Under-Wear</h3>
                        <p class="text-center">Calvin Klein - feels good</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>


                        </div>
                        <h2>300<spam><li class="fa-solid fa-cart-shopping"></li></spam></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="https://ae01.alicdn.com/kf/H35a3718fddb247b9be9284a03d431d41b/Nordic-light-luxury-1-8m-double-bed-ash-wood-wedding-bed-new-Chinese-style-modern-simple.jpg_Q90.jpg_.webp" alt="">
                    <div class="card-body">
                        <h3 class="text-center">Traditional Shirt</h3>
                        <p class="text-center">Ramraj - Nurturing culture</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>


                        </div>
                        <h2>1500<spam><li class="fa-solid fa-cart-shopping"></li></spam></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/0099/2867/1291/products/Somerville3str_45_2000x.jpg?v=1657281898" alt="">
                    <div class="card-body">
                        <h3 class="text-center">>Velcro Dothi</h3>
                        <p class="text-center">Add style to your tradition with uthayam</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>


                        </div>
                        <h2>1300<spam><li class="fa-solid fa-cart-shopping"></li></spam></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/1306/4195/products/skybird-tables-ornate-round-golden-coffee-table-set-of-2-31865288622246_1024x1024.jpg?v=1639550400" alt="">
                    <div class="card-body">
                        <h3 class="text-center">Pack of Traditional Wear</h3>
                        <p class="text-center">Khadims gives you everything at one place</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>


                        </div>
                        <h2>2500<spam><li class="fa-solid fa-cart-shopping"></li></spam></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/1306/4195/products/skybird-tables-ornate-round-golden-coffee-table-set-of-2-31865288622246_1024x1024.jpg?v=1639550400" alt="">
                    <div class="card-body">
                        <h3 class="text-center">Suit</h3>
                        <p class="text-center">Van Husen suit, suits you</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>


                        </div>
                        <h2>2900<spam><li class="fa-solid fa-cart-shopping"></li></spam></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/1306/4195/products/skybird-tables-ornate-round-golden-coffee-table-set-of-2-31865288622246_1024x1024.jpg?v=1639550400" alt="">
                    <div class="card-body">
                        <h3 class="text-center">Blazer</h3>
                        <p class="text-center">Blazing alll the way from Raymond</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>


                        </div>
                        <h2>3700<spam><li class="fa-solid fa-cart-shopping"></li></spam></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/1306/4195/products/skybird-tables-ornate-round-golden-coffee-table-set-of-2-31865288622246_1024x1024.jpg?v=1639550400" alt="">
                    <div class="card-body">
                        <h3 class="text-center">Tie</h3>
                        <p class="text-center">As straight as an Arrow</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>


                        </div>
                        <h2>₹400<spam><li class="fa-solid fa-cart-shopping"></li></spam></h2>
                    </div>
                    <div class="col-md-3 py-3 py-md-0">
                        <div class="card">
                            <img src="https://cdn.shopify.com/s/files/1/1306/4195/products/skybird-tables-ornate-round-golden-coffee-table-set-of-2-31865288622246_1024x1024.jpg?v=1639550400" alt="">
                            <div class="card-body">
                                <h3 class="text-center">Shades</h3>
                                <p class="text-center">As stylish as Voyage</p>
                                <div class="star text-center">
                                    <i class="fa-solid fa-star checked"></i>
                                    <i class="fa-solid fa-star checked"></i>
                                    <i class="fa-solid fa-star checked"></i>
                                    <i class="fa-solid fa-star checked"></i>
                                    <i class="fa-solid fa-star checked"></i>
        
        
                                </div>
                                <h2>₹879<spam><li class="fa-solid fa-cart-shopping"></li></spam></h2>
                            </div>
                </div>
            </div>
        </div>
        
    </div>
    <h1 class="main">Men's clothing</h1>
    <div class="para">
       <p >Get all the Men's wear in just one go.Be updated to the men's fashion exclusively for you. The store has got you covered with items to fulfil all your Men's fashion needs
           , Shirts,pants and leisure wear, these are just to name a few, at affordable price point and amazing deals on top of it.</p>
       <h5 class="head">Your one stop destination for men from top to toe</h5>
       <p>All the accesorries that you are looking for!.</p>
       <h5 class="head">Flaunt you way with trendy clothes</h5>
       <p >Give yourself the a stylish outfit for this festive sesaon ahead.</p>
       <h5 class="head">Choose best of the best at never seen before deals</h5>
       <p >Top brands at your finger tips. USPA,UCB,Pepe Jeans,Raymond,Khadims,Allen solly and many  more!!!! 

    </p>
    </div>

</body>
</html>