<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css" />
  <title>Shop4u</title>
</head>

<body>
  <div class="grid-container">
    <header class="header">
      <div class="brand">
        <button onclick="openMenu()">
          &#9776;
        </button>
        <a href="index.html">Shop4u</a>
      </div>
      <div class="header-links">
        <a href="cart.html">Cart</a>
        <a href="signin.html">Sign In</a>
      </div>
    </header>
    <aside class="sidebar">
      <h3>Shopping Categories</h3>
      <button class="sidebar-close-button" onclick="closeMenu()">x</button>
      <ul>
        <li>
          <a href="index.html">Shirt</a>
        </li>

        <li>
          <a href="index.html">Pants</a>
        </li>

        <li>
            <a href="index.html">Inner-Wear</a>
        </li>
        
        <li>
            <a href="index.html">Traditional Wear</a>
        </li>
        
        <li>
            <a href="index.html">Leisure Wear</a>
        </li>

        <li>
            <a href="index.html">Suitings</a>
        </li>

      </ul>
    </aside>
    <main class="main">
      <div class="content">
        <ul class="products">
          <li>
            <div class="product">
              <img class="product-image" src="images/fs1.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Formal Shirt</a>
              </div>
              <div class="product-brand">Cool Colors</div>
              <div class="product-price">₹1460</div>
              <div class="product-rating">4.8 Stars (75 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/js1.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Jeans Shirt</a>
              </div>
              <div class="product-brasand">Lee Cooper</div>
              <div class="product-price">₹620</div>
              <div class="product-rating">4.1 Stars (42 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/cs1.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Casual Shirt</a>
              </div>
              <div class="product-brand">USPA</div>
              <div class="product-price">₹840</div>
              <div class="product-rating">4.5 Stars (103 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/jeans1.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Blue Jeans</a>
              </div>
              <div class="product-brand">Pepe Jeans</div>
              <div class="product-price">₹1100</div>
              <div class="product-rating">4.2 Stars (157 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/tj1.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Torn Jeans</a>
              </div>
              <div class="product-brand">Mufti</div>
              <div class="product-price">₹430</div>
              <div class="product-rating">3.1 Stars (92 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/blaj1.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Black Jeans</a>
              </div>
              <div class="product-brand">Spykar</div>
              <div class="product-price">₹960</div>
              <div class="product-rating">4.4 Stars (171 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/p2.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Formal Pant</a>
              </div>
              <div class="product-brand">Allen Solly</div>
              <div class="product-price">₹1670</div>
              <div class="product-rating">4.7 Stars (111 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="C:\Users\Lenovo\Desktop\shop4u\template\images\be1.jpeg" alt="product" />images/be1.jpeg
              <div class="product-name">
                <a href="product.html">Leather Belt</a>
              </div>
              <div class="product-brand">Woodland</div>
              <div class="product-price">₹320</div>
              <div class="product-rating">4.0 Stars (183 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/sha1.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Shades</a>
              </div>
              <div class="product-brand">Voyager</div>
              <div class="product-price">₹870</div>
              <div class="product-rating">4.4 Stars (106 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/tshirt1.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">T-Shirt</a>
              </div>
              <div class="product-brand">USPA</div>
              <div class="product-price">₹450</div>
              <div class="product-rating">4.3 Stars (135 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/sws1.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Sweatshirt</a>
              </div>
              <div class="product-brand">Flying Machine</div>
              <div class="product-price">₹800</div>
              <div class="product-rating">3.9 Stars (89 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/h1.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Hoodie</a>
              </div>
              <div class="product-brand">Levis</div>
              <div class="product-price">₹800</div>
              <div class="product-rating">4.3 Stars (63 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/track1.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Track Pants</a>
              </div>
              <div class="product-brand">UCB</div>
              <div class="product-price">₹780</div>
              <div class="product-rating">4.1 Stars (158 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/sh1.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Shorts</a> 
              </div>
              <div class="product-brand">HRX</div>
              <div class="product-price">₹650</div>
              <div class="product-rating">4.3 Stars (139 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/boxer1.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Boxers</a>
              </div>
              <div class="product-brand">Nike</div>
              <div class="product-price">₹390</div>
              <div class="product-rating">4.5 Stars (97 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/ug1.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Under-Garments pack</a>
              </div>
              <div class="product-brand">Dixcy Scott</div>
              <div class="product-price">₹1000</div>
              <div class="product-rating">4.1 Stars (91 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/v1.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Vest</a>
              </div>
              <div class="product-brand">Puma</div>
              <div class="product-price">₹500</div>
              <div class="product-rating">4.6 Stars (152 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/uw1.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Under-Wear</a>
              </div>
              <div class="product-brand">Calvin Klein</div>
              <div class="product-price">₹300</div>
              <div class="product-rating">4.2 Stars (109 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/ts1.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Traditional Shirt</a>
              </div>
              <div class="product-brand">Ramraj</div>
              <div class="product-price">₹1500</div>
              <div class="product-rating">4.1 Stars (163 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/vd1.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Velcro Dothi</a>
              </div>
              <div class="product-brand">Uthayam</div>
              <div class="product-price">₹1300</div>
              <div class="product-rating">4.2 Stars (132 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/tw1.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Pack of Traditional Wear</a>
              </div>
              <div class="product-brand">Khadims</div>
              <div class="product-price">₹2500</div>
              <div class="product-rating">4.1 Stars (166 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/suit1.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Suit</a>
              </div> 
              <div class="product-brand">Van Husen</div>
              <div class="product-price">₹2900</div>
              <div class="product-rating">4.0 Stars (85 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/blazer1.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Blazer</a>
              </div>
              <div class="product-brand">Raymond</div>
              <div class="product-price">₹3700</div>
              <div class="product-rating">4.7 Stars (73 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/tie1.jpeg" alt="product" />
              <div class="product-name">
                <a href="product.html">Tie</a>
              </div>
              <div class="product-brand">Arrow</div>
              <div class="product-price">₹200</div>
              <div class="product-rating">4.0 Stars (120 Reviews)</div>
            </div>
          </li>


        </ul>
      </div>

    </main>
    <footer class="footer">
      All right reserved.
    </footer>
  </div>
  <script>
    function openMenu() {
      document.querySelector(".sidebar").classList.add("open");
    }
    function closeMenu() {
      document.querySelector(".sidebar").classList.remove("open")
    }
  </script>
</body>

</html>